body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 15px;
		font-family: "Old Standard TT", Georgia, serif;
		color: #000000;
		background-color: #f1f1f1;
}
body a {
		text-decoration: none;
		color: #333333;
		-webkit-tap-highlight-color: transparent;
}


#header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		background-color: #ffffff;
}
#header a {
		display: block;
		padding: 30px 60px;
		font-size: 20px;
}
@media (max-width: 768px) {
		#header a {
				padding: 20px 25px;
		}
}
.sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: lightsteelblue;
		overflow-x: hidden;
		padding-top: 100px;
		transition: 0.3s;
}
.sidenav a {
		padding: 15px 20px;
		text-decoration: none;
		font-size: 20px;
		color: #333333;
		display: block;
}
.sidenav a:hover {
		color: #ffffff;
}
.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 20px;
		padding: 30px 25px;
		border: none;
		outline: none;
		background-color: lightsteelblue;
}
.closebtn:hover {
		color: #ffffff;
}
@media (max-width: 768px) {
		.sidenav {
				padding-top: 70px;
		}
		.sidenav .closebtn {
				padding: 20px 25px;
		}
}



#main {
		background-color: #f1f1f1;
		padding: 20px 50px;
}
.flexrow {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
}
.flexrow > div {
		padding: 10px;
}
.flexrow div img {
		width: 100%;
		height: auto;
		border-radius: 10px;
}
@media (max-width: 768px) {
		.flexrow {
				flex-direction: column;
		}
		#main {
				padding: 20px;
		}
		.flexrow > div {
		padding: 5px;
}
}


.followtext {
		text-align: center;
		font-size: 20px;
}
#social {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		padding: 20px;
}
#social > div {
		padding: 20px;
}
.fab {
		font-size: 50px;
}
.fa-facebook:hover {
		color: #3b5998;
}
.fa-twitter:hover {
		color: #00acee;
}
.fa-instagram:hover {
		color: #bc2a8d;
}
@media (max-width: 768px) {
		#social {
		justify-content: center;
		}
		.fab {
				font-size: 30px;
		}
}


#footer {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		background-color: #2F2F2F;
		color: #f1f1f1;
		padding: 25px;
}
#footer p {
		text-align: center;
}
